numpy==1.9.1
scipy==0.14.0
scikit-learn==0.15.1
cycler==0.10.0
Django==1.10.7
eyeD3==0.8
functools32==3.2.3.post2
hmmlearn==0.2.0
manage.py==0.2.10
matplotlib==2.0.2
pathlib==1.0.1
psycopg2==2.7.1
pydub==0.19.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
simplejson==3.10.0
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
